[Desktop Entry]
Name=IceSound Configurator
Comment=Small utility for configuration IceSound
Comment[pl]=Małe narzędzie konfigurujące IceSound
Icon=icesndcfg.xpm
Exec=icesndcfg
Terminal=0
Type=Application
# vi: encoding=utf-8
