[Desktop Entry]
Name=IceSound Configurator
Comment=Small utility for configuration IceSound
Comment[pl]=Małe narzędzie konfigurujące IceSound
Icon=icesndcfg
Exec=icesndcfg
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;
# vi: encoding=utf-8
