[Desktop Entry]
Name=IceSound Configurator
Comment=Small utility for configuration IceSound
Comment[pl]=Małe narzędzie konfigurujące IceSound
Icon=icesndcfg.xpm
Exec=icesndcfg
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Utility;Settings;
# vi: encoding=utf-8
